body {
    margin-left: 15%;
    margin-right: 15%;
    border: #333 2px solid;
    font-family: Arial, sans-serif;
}

.menu {
    justify-content: space-around;
    display: flex;
    border: #333 2px solid;
    display: flex;
    list-style-type: none;
    background-color: #333;
}

.menu li {

    border: #333 2px solid;
    margin: 0 15px;
}

.menu li a {

    border: #333 2px solid;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu li a:hover {
    background-color: #555;
}

main {
    border: #333 2px solid;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    
}

.articulo {
    display: flex;
}

.columna {
    flex: 1;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label, form input, form button {
    margin-bottom: 10px;
}


.carrusel {
    position: relative;
    max-width: 600px; /* Cambia el tamaño del carrusel aquí */
    margin: auto;
    overflow: hidden;
}

.imagenes {
    display: flex;
    transition: transform 0.5s ease;
}

.imagenes img {
    max-width: 100%;
    display: none; /* Esconde todas las imágenes por defecto */
}

.imagenes img.activo {
    display: block; /* Muestra la imagen activa */
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.izquierda {
    left: 10px;
}

.derecha {
    right: 10px;
}
